<h1 align="center">About this application</h1>
<p align="center"><%= link_to image_tag('20170614_105023.jpg', size: "1000x300"), root_path %></p>
<div align="center">I'm here to tell you all about this page, its pretty great</div>
<p align="center"><%= link_to "Home", root_path %></p>