<h1 align="center">Welcome to my homepage!</h1>
<table align="center">
	<tr>
		<th align="right">Item</th>
		<th width="20"></th>
		<th align="left">Description</th>
	</tr>
	<tr>
		<td align="right"><strong>Fedora</strong></td>
		<td></td>
		<td align="left">Styling hat</td>
	</tr>
	<tr>
		<td align="right"><strong>Leather Jacket</strong></td>
		<td></td>
		<td align="left">Comfortable motorcycle outfit</td>
	</tr>
</table>
<p align="center"><%= link_to "About", about_path %></p>