<div class=" center jumbotron">
	<h1>ALPHA BLOG</h1>
	<%= link_to "View Articles", articles_path, class: "btn btn-danger btn-xlarge" %>
	<%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-xlarge" %>
</div>