@import 'bootstrap/dist/css/bootstrap';

.navbar {
	background-color: black !important;
}

.nav-link {
	color: #aaa !important;
}

h1 {
	font-size: 4em;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('home_bg.jpg');
	background-size: cover;
	height: 550px;
}

.jumbotron h1 {
	color: #700;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.btn-xlarge {
	font-size: 1.7em;
	background-color: black;
}

.article-actions{
	border-top: 1px solid #aaa;
	padding-top: 20px;
}

.card {
	padding-top: 20px;
	padding-bottom: 20px;
}

.description {
	margin-top: 0;
}

.article-title {
	font-weight: bold;
	font-size: 1.7em;
	padding-bottom: 5px;
	padding-left: 10px;
}

.article-body {
	border-top: 1px solid #aaa;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #aaa;
	color: #777;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

.form-group label {
	text-align: right;
	font-weight: bold;
}

