<div class="container">
	<footer class="footer">
		<small>
			For pactice purposes only.  Site is subject to change at any given moment
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Finance Tracker", 'http://eric-test-financetracker.herokuapp.com/' %></li>
				<li><%= link_to "Messaging App", 'https://eric-test-messageme-app.herokuapp.com/' %></li>
				<li><%= link_to "Alpha Blog", 'https://eric-test-blog.herokuapp.com' %></li>
			</ul>
		</nav>
	</footer>
</div>